<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <%- include('includes/menu.ejs') %>
        <form method ="post" action="/product">
            <p>Enter product name:</p>
            <p><input type="text" name="name"></p>
            <p><input type="submit" value="Add"></p>
         </form>
         
    </body>
</html>