<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/myStyle.css">

    </head>
    <body>
        <%- include('includes/menu.ejs') %>
        <h1>Home Page</h1>
    </body>
</html>