<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/myStyle.css">

    </head>
    <body>
        <%- include('includes/menu.ejs') %>
        <h1>Product List</h1>
        <p><% if (products.length>0){ 
            for (let x in products){ %>
                <h2><%=products[x]%></h2>         
           <% }
           }%></p>
    </body>
</html>